$primary-color: #1D79FF;
$secondary-color: #333333;
$background-color: #EEF1F5;
$text-color: #34495E;
$dark-color: #222831;
$light-color: #FAFAFA;


$primary-gradient: linear-gradient(135deg, #1D79FF 0%, #72E7C9 100%);
$secondary-gradient: linear-gradient(135deg, #72E7C9 0%, #D4FF88 100%);


$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;


$box-shadow-light: 0px 5px 18px rgba(0, 0, 0, 0.12);
$box-shadow-dark: 0px 8px 22px rgba(0, 0, 0, 0.25);

$backdrop-effect: blur(12px);

$border-radius: 12px;
$transition-speed: 0.4s;